/* Properties */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 24pt;
  padding: 2%;
}

h2 {
  font-size: 20pt;
  text-align: center;
  font-family: "Anton", sans-serif;
}

h3 {
  text-align: center;
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 18pt;
}

p {
  font-size: 14pt;
  line-height: 1.5;
  text-align: justify;
}

/* Header */
header {
  width: 100%;
  background: #000;
  position: fixed;
}
header .wrapper {
  display: flex;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
  padding: 0 7.5% 10px 7.5%;
}
header .wrapper .header_logo {
  display: flex;
  filter: invert(100%);
  height: 34px;
  padding-top: 20px;
  cursor: pointer;
}

nav {
  margin: 25px 0 0 auto;
}
nav a {
  transition: all 0.5s ease;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 7.5px;
}
nav a:hover {
  background: #ffffff;
  color: black;
  border-radius: 1.25em;
}

/* Main */
main .container {
  padding: 0 2.5%;
  max-width: 1200px;
  margin: 0 auto;
}

.buy {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.buy .content {
  display: block;
  background: #fff;
  margin: 2.5%;
  width: 95%;
  height: 95%;
  padding: auto;
  border-radius: 2.5%;
}

/* Gallery */
.slider-frame {
  overflow: hidden;
  width: 100%;
  padding-top: 100px;
  transition: all 0.5s ease;
}
.slider-frame .slide-images {
  width: 400%;
  margin: 0 0 0 -300%;
  position: relative;
  z-index: -999;
  -webkit-animation-name: slide_animation;
  -webkit-animation-duration: 33s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
  display: flex;
  flex-direction: row;
}
.slider-frame .slide-images .img-container img {
  width: 100%;
  float: left;
}

/* About Us */
.about_us {
  padding-bottom: 75px;
}
.about_us .wrapper {
  display: flex;
}
.about_us .about_right {
  width: 50%;
  margin-left: auto;
  margin-right: 0;
}
.about_us .about_right img {
  margin-right: 0;
  margin-left: auto;
  width: 100%;
}
.about_us .about_left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.about_us .about_left li {
  margin-bottom: 25px;
  color: #000;
  font-weight: bold;
  font-size: 12pt;
  list-style: none;
  text-align: justify;
  width: 95%;
}
.about_us .about_left .info_button {
  margin-top: auto;
  color: white;
  background: #4b4b4b;
  height: 45px;
  text-align: center;
  width: 95%;
  transition: all 0.5s ease;
}
.about_us .about_left .info_button:hover {
  background: #646464;
  border-radius: 1.5em;
}
.about_us .about_left .info_button:active {
  background: #191919;
}

/* Shoes */
.our_products, .links, .testimonials .wrapper {
  display: flex;
  flex-direction: column;
}
.our_products .shoes, .links .shoes, .testimonials .wrapper .shoes {
  padding: 25px 0;
  display: flex;
}
.our_products .shoes .shoes_img, .links .shoes .shoes_img, .testimonials .wrapper .shoes .shoes_img {
  width: 45%;
  padding: 0 2.5%;
}
.our_products .shoes .shoes_img img, .links .shoes .shoes_img img, .testimonials .wrapper .shoes .shoes_img img {
  width: 100%;
}
.our_products .shoes .shoes_text, .links .shoes .shoes_text, .testimonials .wrapper .shoes .shoes_text {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 0 2.5%;
}
.our_products .shoes .shoes_text .price_buy, .links .shoes .shoes_text .price_buy, .testimonials .wrapper .shoes .shoes_text .price_buy {
  padding-bottom: 0;
  margin-top: auto;
  display: flex;
  flex-direction: row;
}
.our_products .shoes .shoes_text .price_buy .button, .links .shoes .shoes_text .price_buy .button, .testimonials .wrapper .shoes .shoes_text .price_buy .button {
  width: 47.5%;
  color: #4b4b4b;
  color: white;
  -webkit-user-select: none;
          user-select: none;
  background: #4b4b4b;
  outline: none;
  height: 45px;
  transition: all 0.5s ease;
}
.our_products .shoes .shoes_text .price_buy .button:hover, .links .shoes .shoes_text .price_buy .button:hover, .testimonials .wrapper .shoes .shoes_text .price_buy .button:hover {
  border-radius: 1.5em;
  background: #646464;
}
.our_products .shoes .shoes_text .price_buy .button:active, .links .shoes .shoes_text .price_buy .button:active, .testimonials .wrapper .shoes .shoes_text .price_buy .button:active {
  background: #191919;
}
.our_products .shoes .shoes_text .price_buy .price, .links .shoes .shoes_text .price_buy .price, .testimonials .wrapper .shoes .shoes_text .price_buy .price {
  color: white;
  -webkit-user-select: none;
          user-select: none;
  background: #4b4b4b;
  outline: none;
  text-align: center;
  height: 45px;
  width: 47.5%;
  transition: all 0.5s ease;
  margin-right: 0;
  margin-left: auto;
}
.our_products .shoes .shoes_text .price_buy #buy_button, .links .shoes .shoes_text .price_buy #buy_button, .testimonials .wrapper .shoes .shoes_text .price_buy #buy_button {
  color: white;
  -webkit-user-select: none;
          user-select: none;
  background: #4b4b4b;
  outline: none;
  text-align: center;
  height: 45px;
  width: 47.5%;
  transition: all 0.5s ease;
  margin-right: 0;
  margin-left: auto;
}

/* Testimonials */
.testimonials .wrapper .testimonial {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}
.testimonials .wrapper .testimonial .img {
  width: 12.5%;
  margin: 0 auto;
}
.testimonials .wrapper .testimonial .img img {
  width: 100%;
  border-radius: 10em;
}
.testimonials .wrapper .testimonial .text {
  width: 82.5%;
}
.testimonials .wrapper .testimonial .text .name {
  font-size: 20pt;
  text-align: center;
  font-family: "Anton", sans-serif;
  margin-bottom: 20px;
}

/* Forms */
.forms {
  padding: 25px 0;
}

/* Text Block */
.text_block {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 200px;
  padding-bottom: 25px;
  text-align: justify;
}
.text_block::-webkit-scrollbar {
  width: 7px;
}
.text_block::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Unordered List */
.unordered_list ul li {
  list-style-type: circle;
  padding-left: 20px;
  margin-left: 20px;
}

/* Footer */
footer {
  background: #000;
  width: 100%;
}
footer .footer {
  color: white;
  max-width: 1200px;
  padding: 25px 0;
  margin: 0 auto;
}
footer .footer p {
  text-align: center;
}

.links {
  padding-top: 10px;
}
.links a {
  color: #4b4b4b;
  font-weight: 600;
  font-size: 14pt;
  transition: all 0.5s ease;
  text-align: center;
}
.links a:hover {
  filter: brightness(150%);
}
.links a:active {
  filter: brightness(50%);
}